@font-face {
    font-family: mikhak;
    src: url(../../refs/mikhak/Mikhak-VF-FD[wght\,KSHD\,DSTY].woff2) format("woff2");
}

body{
    font-family: mikhak;
    
   
}
.z-index-10{
    z-index: 10;
}
.z-index-100{
    z-index: 100;
}
.z-index-under{
    z-index: -1;
}
.darker-overlay{
    content: "";
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.link-custom-1{
    color: antiquewhite;
}
.link-custom-1:hover{
    color: rgb(255, 212, 155);
}
#cf_header{
    position: relative;
    height: 100vh;
    background: url("../img/bakcground-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

